body {
  background-color: #ca215a;
}

.wrapper {
  margin: 10px 100px 10px 100px;
}

.pokedex-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokedex-item {
  min-width: 200px;
  min-height: 200px;
  background-color: grey;
  margin: 10px;
  padding: 5px;
  background: #00d7fc;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
  text-transform: capitalize;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.card-anim:hover {
  transform: scale(0.9) skewY(5deg) skewX(6deg);
  transition: all 0.2s ease-in-out;
}

.pokedex-item-img {
  width: 200px;
  height: 200px;
}

a {
  color: #000;
  text-decoration: none;
}

.pokedex-search {
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
}

.pokedex-search-button {
  width: 51%;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

.pokedex-loadmore-button {
  width: 51%;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  margin: 50px;
}
